@page
@model Medii.Pages.Reservations.EditModel

@{
    ViewData["Title"] = "Edit";
}


<h1>Editeaza</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Reservation.ReservationId" />
            <div class="form-group">
                <label asp-for="Reservation.LocationId" class="control-label"></label>
                <select asp-for="Reservation.LocationId" class="form-control" asp-items="ViewBag.LocationId"></select>
                <span asp-validation-for="Reservation.LocationId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reservation.MenuId" class="control-label"></label>
                <select asp-for="Reservation.MenuId" class="form-control" asp-items="ViewBag.MenuId"></select>
                <span asp-validation-for="Reservation.MenuId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reservation.DateAndTime" class="control-label"></label>
                <input asp-for="Reservation.DateAndTime" class="form-control" />
                <span asp-validation-for="Reservation.DateAndTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reservation.PhoneNumber" class="control-label"></label>
                <input asp-for="Reservation.PhoneNumber" class="form-control" />
                <span asp-validation-for="Reservation.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reservation.Email" class="control-label"></label>
                <input asp-for="Reservation.Email" class="form-control" />
                <span asp-validation-for="Reservation.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reservation.ReservationName" class="control-label"></label>
                <input asp-for="Reservation.ReservationName" class="form-control" />
                <span asp-validation-for="Reservation.ReservationName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salveaza" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <<a asp-page="./Index">Inapoi</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
