@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    
</div>
